body{
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 20px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.project-card{
    background: #1e1e1e;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.project-card :hover{
     transform: translateY(-5px);
}
.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  margin: 10px 0 5px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #00bfff;
  text-decoration: none;
}