body{
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: white;
    margin: 0;
    padding: 20px;
}
/* NAVBAR SECTION */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.logo{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-links li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.nav-links li a:hover{
    color: #00bfff;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        display: none;
    }

    .nav-links.active {
        display: flex; 
    }
}

/* HERO SECTION */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #111;
  padding: 10px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  max-width: 1100px;
  margin: auto;
}

/* TEXT */
.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #aaa;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #00bfff;
  color: black;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

/* IMAGE */
.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 280px;
  max-width: 100%;
  border-radius: 50%;
  border: 4px solid #00bfff;
}
